# **Basket Affinity per Item**

In [ ]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt

In [ ]:
# upload file

sheet_url = 'https://docs.google.com/spreadsheets/d/106v5vGBPbRT71GFfFXtIJ0TSgRymeGNJkaMy--WjHuU/edit#gid=1844810804'
sheet_url_trf = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df = pd.read_csv(sheet_url_trf)
df

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
0,1,1,hawaiian_m,1,42005,"0,4851388889",hawaiian,M,"13,25",The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,42005,"0,4983796296",classic_dlx,M,16,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,42005,"0,4983796296",five_cheese,L,"18,5",The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,42005,"0,4983796296",ital_supr,L,"20,75",The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,42005,"0,4983796296",mexicana,M,16,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,42369,"0,891087963",ckn_alfredo,M,"16,75",The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,48617,21348,four_cheese_l,1,42369,"0,891087963",four_cheese,L,"17,95",The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,48618,21348,napolitana_s,1,42369,"0,891087963",napolitana,S,12,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,48619,21349,mexicana_l,1,42369,"0,9235416667",mexicana,L,"20,25",The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,48620,21350,bbq_ckn_s,1,42369,"0,9597800926",bbq_ckn,S,"12,75",The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  int64
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  object
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: int64(4), object(8)
memory usage: 4.5+ MB

In [ ]:
df2 = df.groupby(['order_id','name'])['quantity'].sum().unstack().reset_index().fillna(0).set_index('order_id')
df2

name,The Barbecue Chicken Pizza,The Big Meat Pizza,The Brie Carre Pizza,The Calabrese Pizza,The California Chicken Pizza,The Chicken Alfredo Pizza,The Chicken Pesto Pizza,The Classic Deluxe Pizza,The Five Cheese Pizza,The Four Cheese Pizza,...,The Prosciutto and Arugula Pizza,The Sicilian Pizza,The Soppressata Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Spinach Pesto Pizza,The Spinach Supreme Pizza,The Spinach and Feta Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
order_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21346,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21347,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
21348,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21350,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# binary data

def encode_units(x):
  if x <= 0:
    return 0
  if x >= 1:
    return 1

df2_encode = df2.applymap(encode_units)
df2_encode

name,The Barbecue Chicken Pizza,The Big Meat Pizza,The Brie Carre Pizza,The Calabrese Pizza,The California Chicken Pizza,The Chicken Alfredo Pizza,The Chicken Pesto Pizza,The Classic Deluxe Pizza,The Five Cheese Pizza,The Four Cheese Pizza,...,The Prosciutto and Arugula Pizza,The Sicilian Pizza,The Soppressata Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Spinach Pesto Pizza,The Spinach Supreme Pizza,The Spinach and Feta Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21346,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21347,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
21348,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21349,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21350,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# filter more than 1

df2_plus = df2_encode[(df2_encode > 0).sum(axis = 1) >= 2]
df2_plus

name,The Barbecue Chicken Pizza,The Big Meat Pizza,The Brie Carre Pizza,The Calabrese Pizza,The California Chicken Pizza,The Chicken Alfredo Pizza,The Chicken Pesto Pizza,The Classic Deluxe Pizza,The Five Cheese Pizza,The Four Cheese Pizza,...,The Prosciutto and Arugula Pizza,The Sicilian Pizza,The Soppressata Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Spinach Pesto Pizza,The Spinach Supreme Pizza,The Spinach and Feta Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
order_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21344,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21345,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
21346,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21347,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
21348,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [ ]:
from mlxtend.frequent_patterns import apriori

In [ ]:
frequent_df = apriori(df2_plus, min_support=0.03, use_colnames=True).sort_values('support',ascending = False).reset_index(drop = True)

frequent_df['length'] = frequent_df['itemsets'].apply(lambda x: len(x))
frequent_df

     support                                      itemsets  length
0   0.146508                         (The Pepperoni Pizza)       1
1   0.146278                    (The Classic Deluxe Pizza)       1
2   0.142671                  (The Barbecue Chicken Pizza)       1
3   0.141136                      (The Thai Chicken Pizza)       1
4   0.140752                          (The Hawaiian Pizza)       1
5   0.138450                (The California Chicken Pizza)       1
6   0.115196                 (The Southwest Chicken Pizza)       1
7   0.114965                       (The Four Cheese Pizza)       1
8   0.114505                          (The Big Meat Pizza)       1
9   0.113507                          (The Sicilian Pizza)       1
10  0.112817                     (The Spicy Italian Pizza)       1
11  0.112049                   (The Italian Supreme Pizza)       1
12  0.092325           (The Vegetables + Vegetables Pizza)       1
13  0.091481                          (The Mexicana Pizza)       1
14  0.089870                        (The Napolitana Pizza)       1
15  0.089025                  (The Spinach and Feta Pizza)       1
16  0.088642                 (The Italian Capocollo Pizza)       1
17  0.088642            (The Prosciutto and Arugula Pizza)       1
18  0.087030                     (The Pepper Salami Pizza)       1
19  0.085649                       (The Five Cheese Pizza)       1
20  0.085418                             (The Greek Pizza)       1
21  0.082732  (The Pepperoni, Mushroom, and Peppers Pizza)       1
22  0.062164                      (The Green Garden Pizza)       1
23  0.061781                     (The Chicken Pesto Pizza)       1
24  0.060860                (The Italian Vegetables Pizza)       1
25  0.060706                     (The Spinach Pesto Pizza)       1
26  0.060476                       (The Soppressata Pizza)       1
27  0.060399                   (The Chicken Alfredo Pizza)       1
28  0.059248                         (The Calabrese Pizza)       1
29  0.058557                   (The Spinach Supreme Pizza)       1
30  0.058250                     (The Mediterranean Pizza)       1
31  0.030698                        (The Brie Carre Pizza)       1

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
association_rules(frequent_df, metric='lift', min_threshold=0).sort_values('lift',ascending = False).reset_index(drop = True)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

# **Basket Affinity per Category**

In [ ]:
df3 = df.groupby(['order_id','category'])['quantity'].sum().unstack().reset_index().fillna(0).set_index('order_id')
df3

category  Chicken  Classic  Supreme  Veggie
order_id
1             0.0      1.0      0.0     0.0
2             1.0      1.0      1.0     2.0
3             0.0      0.0      2.0     0.0
4             0.0      0.0      1.0     0.0
5             0.0      0.0      1.0     0.0
...           ...      ...      ...     ...
21346         2.0      1.0      1.0     0.0
21347         2.0      0.0      2.0     0.0
21348         1.0      1.0      0.0     1.0
21349         0.0      0.0      0.0     1.0
21350         1.0      0.0      0.0     0.0

[21350 rows x 4 columns]

In [ ]:
# binary data

def encode_units(x):
  if x <= 0:
    return 0
  if x >= 1:
    return 1

df3_encode = df3.applymap(encode_units)
df3_encode

category  Chicken  Classic  Supreme  Veggie
order_id
1               0        1        0       0
2               1        1        1       1
3               0        0        1       0
4               0        0        1       0
5               0        0        1       0
...           ...      ...      ...     ...
21346           1        1        1       0
21347           1        0        1       0
21348           1        1        0       1
21349           0        0        0       1
21350           1        0        0       0

[21350 rows x 4 columns]

In [ ]:
# filter more than 1

df3_plus = df3_encode[(df3_encode > 0).sum(axis = 1) >= 2]
df3_plus

category  Chicken  Classic  Supreme  Veggie
order_id
2               1        1        1       1
6               1        1        0       0
9               0        1        1       1
10              1        0        0       1
11              1        1        0       0
...           ...      ...      ...     ...
21344           0        1        1       1
21345           0        1        0       1
21346           1        1        1       0
21347           1        0        1       0
21348           1        1        0       1

[11382 rows x 4 columns]

In [ ]:
frequent_df3 = apriori(df3_plus, min_support=0.03, use_colnames=True).sort_values('support',ascending = False).reset_index(drop = True)

frequent_df3['length'] = frequent_df3['itemsets'].apply(lambda x: len(x))
frequent_df3

     support                             itemsets  length
0   0.679670                            (Classic)       1
1   0.585574                            (Supreme)       1
2   0.585222                             (Veggie)       1
3   0.561501                            (Chicken)       1
4   0.355034                    (Veggie, Classic)       2
5   0.349148                   (Supreme, Classic)       2
6   0.336321                   (Classic, Chicken)       2
7   0.290371                    (Veggie, Supreme)       2
8   0.279828                   (Supreme, Chicken)       2
9   0.279564                    (Veggie, Chicken)       2
10  0.144526           (Veggie, Classic, Chicken)       3
11  0.144087           (Supreme, Classic, Veggie)       3
12  0.138552          (Supreme, Classic, Chicken)       3
13  0.117466           (Veggie, Supreme, Chicken)       3
14  0.066333  (Veggie, Supreme, Classic, Chicken)       4

In [ ]:
association_rules(frequent_df3, metric='lift', min_threshold=0).sort_values('lift',ascending = False).reset_index(drop = True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Classic),(Veggie),0.679670,0.585222,0.355034,0.522363,0.892589,-0.042724,0.868395
1,(Veggie),(Classic),0.585222,0.679670,0.355034,0.606666,0.892589,-0.042724,0.814397
2,(Chicken),(Classic),0.561501,0.679670,0.336321,0.598967,0.881262,-0.045314,0.798764
3,(Classic),(Chicken),0.679670,0.561501,0.336321,0.494829,0.881262,-0.045314,0.868022
4,(Supreme),(Classic),0.585574,0.679670,0.349148,0.596249,0.877263,-0.048849,0.793386
5,(Classic),(Supreme),0.679670,0.585574,0.349148,0.513702,0.877263,-0.048849,0.852207
6,(Supreme),(Chicken),0.585574,0.561501,0.279828,0.477869,0.851058,-0.048972,0.839827
7,(Chicken),(Supreme),0.561501,0.585574,0.279828,0.498357,0.851058,-0.048972,0.826138
8,(Veggie),(Chicken),0.585222,0.561501,0.279564,0.477706,0.850767,-0.049038,0.839564
9,(Chicken),(Veggie),0.561501,0.585222,0.279564,0.497888,0.850767,-0.049038,0.826066
10,(Veggie),(Supreme),0.585222,0.585574,0.290371,0.496172,0.847326,-0.052320,0.822555
11,(Supreme),(Veggie),0.585574,0.585222,0.290371,0.495874,0.847326,-0.052320,0.822766
12,(Classic),"(Veggie, Supreme, Chicken)",0.679670,0.117466,0.066333,0.097596,0.830841,-0.013505,0.977980
13,"(Veggie, Supreme, Chicken)",(Classic),0.117466,0.679670,0.066333,0.564697,0.830841,-0.013505,0.735879
14,"(Classic, Veggie, Supreme)",(Chicken),0.144087,0.561501,0.066333,0.460366,0.819885,-0.014572,0.812586
15,(Chicken),"(Classic, Veggie, Supreme)",0.561501,0.144087,0.066333,0.118135,0.819885,-0.014572,0.970571
16,(Veggie),"(Classic, Supreme, Chicken)",0.585222,0.138552,0.066333,0.113346,0.818077,-0.014751,0.971572
17,"(Classic, Supreme, Chicken)",(Veggie),0.138552,0.585222,0.066333,0.478757,0.818077,-0.014751,0.795748
18,(Supreme),"(Veggie, Classic, Chicken)",0.585574,0.144526,0.066333,0.113278,0.783790,-0.018298,0.964760
19,"(Veggie, Classic, Chicken)",(Supreme),0.144526,0.585574,0.066333,0.458967,0.783790,-0.018298,0.765990
20,(Classic),"(Veggie, Chicken)",0.679670,0.279564,0.144526,0.212642,0.760620,-0.045485,0.915004
21,"(Veggie, Chicken)",(Classic),0.279564,0.679670,0.144526,0.516970,0.760620,-0.045485,0.663169
22,(Veggie),"(Classic, Chicken)",0.585222,0.336321,0.144526,0.246960,0.734299,-0.052296,0.881334
23,"(Classic, Chicken)",(Veggie),0.336321,0.585222,0.144526,0.429728,0.734299,-0.052296,0.727334
24,"(Veggie, Supreme)",(Classic),0.290371,0.679670,0.144087,0.496218,0.730087,-0.053269,0.635851
25,(Classic),"(Veggie, Supreme)",0.679670,0.290371,0.144087,0.211996,0.730087,-0.053269,0.900540
26,(Classic),"(Supreme, Chicken)",0.679670,0.279828,0.138552,0.203852,0.728491,-0.051638,0.904571
27,"(Supreme, Chicken)",(Classic),0.279828,0.679670,0.138552,0.495133,0.728491,-0.051638,0.634485
28,(Chicken),"(Veggie, Classic)",0.561501,0.355034,0.144526,0.257393,0.724981,-0.054826,0.868516
29,"(Veggie, Classic)",(Chicken),0.355034,0.561501,0.144526,0.407077,0.724981,-0.054826,0.739556
30,"(Veggie, Supreme)",(Chicken),0.290371,0.561501,0.117466,0.404539,0.720460,-0.045577,0.736403
31,(Chicken),"(Veggie, Supreme)",0.561501,0.290371,0.117466,0.209200,0.720460,-0.045577,0.897357
32,(Supreme),"(Veggie, Chicken)",0.585574,0.279564,0.117466,0.200600,0.717546,-0.046239,0.901221
33,"(Veggie, Chicken)",(Supreme),0.279564,0.585574,0.117466,0.420176,0.717546,-0.046239,0.714745
34,(Veggie),"(Supreme, Chicken)",0.585222,0.279828,0.117466,0.200721,0.717300,-0.046295,0.901027
35,"(Supreme, Chicken)",(Veggie),0.279828,0.585222,0.117466,0.419780,0.717300,-0.046295,0.714863
36,"(Classic, Supreme)",(Chicken),0.349148,0.561501,0.138552,0.396829,0.706730,-0.057495,0.726991
37,(Chicken),"(Classic, Supreme)",0.561501,0.349148,0.138552,0.246753,0.706730,-0.057495,0.864062
38,"(Classic, Supreme)",(Veggie),0.349148,0.585222,0.144087,0.412682,0.705172,-0.060242,0.706224
39,(Veggie),"(Classic, Supreme)",0.585222,0.349148,0.144087,0.246209,0.705172,-0.060242,0.863439
40,"(Classic, Chicken)",(Supreme),0.336321,0.585574,0.138552,0.411964,0.703523,-0.058388,0.704764
41,(Supreme),"(Classic, Chicken)",0.585574,0.336321,0.138552,0.236609,0.703523,-0.058388,0.869384
42,"(Veggie, Classic)",(Supreme),0.355034,0.585574,0.144087,0.405840,0.693064,-0.063812,0.697500
43,(Supreme),"(Veggie, Classic)",0.585574,0.355034,0.144087,0.246062,0.693064,-0.063812,0.855462
44,"(Veggie, Chicken)","(Classic, Supreme)",0.279564,0.349148,0.066333,0.237272,0.679575,-0.031276,0.853322
45,"(Classic, Supreme)","(Veggie, Chicken)",0.349148,0.279564,0.066333,0.189985,0.679575,-0.031276,0.889410
46,"(Classic, Chicken)","(Veggie, Supreme)",0.336321,0.290371,0.066333,0.197231,0.679238,-0.031325,0.883977
47,"(Veggie, Supreme)","(Classic, Chicken)",0.290371,0.336321,0.066333,0.228442,0.679238,-0.031325,0.860181
48,"(Supreme, Chicken)","(Veggie, Classic)",0.279828,0.355034,0.066333,0.237049,0.667678,-0.033016,0.845356
49,"(Veggie, Classic)","(Supreme, Chicken)",0.355034,0.279828,0.066333,0.186835,0.667678,-0.033016,0.885641